div.right-click-menu#div_context_menu_participant
    li.li-menu-item
        input(type='button' value='Редактировать' style='border-bottom:none' )#input_edit_participant.contextmenu_button.contextmenu_button_participant
    li(style='margin-top:-1px;').li-menu-item
        form#form_context_menu_participant_delete
            input(type='button' value='Удалить' )#input_delete_participant.contextmenu_button.contextmenu_button_participant