div(class='right-click-menu' id='context_menu_delete')
    li(id='li_delete' class='li_menu_item')
        form#delete_form
            input(id='button_menuitem' class='contextmenu_button' type='button' value='Удалить')