-let port = 8443;

header
    h2.unselectable АУЦКИОН
    nav#header-nav.unselectable
        ul#nav_list
            li
                a(class='to-page' id='to_page_main' href='https://localhost:'+port+'/auction' ) Главная
            li
                a(class='to-page' href='https://localhost:'+port+'/settings' ) Настройка
            li
                a(class='to-page' href='https://localhost:'+port+'/participants' ) Участники

