div#modal-edit-participant
    div#div-edit-participant
        form#form-edit-participant
            div#text-in-edit-participant
                input(type='text' placeholder='Имя участника' name='name')#name_participant_in_modal
                input(type='number' placeholder='Количество средств' name='money')#money_participant_in_modal
            div#buttons-in-edit-participant
                input(type='button' value='ОК')#ok-edit-participant
                input(type='button' value='Отмена')#cancel-edit-participant
